.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Avenir Next";
}

.about h2 {
  color: #0E5C89
}

.top-container {
  position: relative;
  text-align: center;
}

.login-link {
  position: absolute;
  top: 32px;
  right: 80px;
  color: white;
  font: 18px "Avenir Next";
  font-weight: 620;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 230px;
  right: 485px;
  left: 486px;
  width: 24%;
}

.title {
  font: 32px, 600;
  color: white;
  position: relative;
  bottom: 262px;
}

.background-img {
  width: 100%;
}

.about {
  display: grid;
  grid-column-gap: 160px;
  padding: 0px 150px 0px 320px;
}

.about p {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
}

.apps {
  background-color: #2F2E2E;
}

.app-logo {
  width: 150px;
}

.app-grid {
  display: grid;
  grid-column-gap: 81px;
  grid-template-columns: max-content max-content max-content max-content;
  justify-content: center;
  padding-bottom: 80px;
}

.apps h5,
.apps h2 {
  color: white;
}

.apps h2 {
  padding-top: 80px;
  padding-bottom: 64px;
}

.newsletter h2{
  color: #0E5C89;
}

.newsletter {
  padding-top: 88px;
  padding-bottom: 90px;
}

.newsletter-form input[type="text"],
.newsletter-form textarea {
	box-sizing: border-box;
  width: 276px;
  height: 52px;
	margin-bottom: 12px;
	text-indent: 20px;
  font: 14px "Avenir Next";
  font-weight: bold;
  color: white;
}

.subscribe-button {
	box-sizing: border-box;
  width: 165px;
  height: 52px;
  background: #0E5C89;
  border: 0;
  color: #ffffff;
  font: 14px "Avenir Next";
  font-weight: bold;
}

.footer {
  text-align: center;
  background-color: #E8E8E8;
  padding: 29px 650px 29px 600px;
}

.form-container {
  padding-top: 230px;
  padding-bottom: 600px;
  background: url('./imgs/gpc_loginBg@2x.png') no-repeat center center fixed;
  background-size: cover;
}

.logo-img {
  position: absolute;
  top: 32px;
  left: 80px;
  width: 16%;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="text"],
.form-container textarea {
	box-sizing: border-box;
  width: 360px;
  height: 52px;
	margin-bottom: 12px;
	text-indent: 12px;
  border: 0;
  font: 14px "Avenir Next";
  font-weight: bold;
  color: white;
}

.form-container h3 {
  color: white;
  display: inline;
  position: relative;
  right: 120px;
  bottom: 30px;
  padding-left: 21px;
}

.form-container input[type="email"] {
  background: url('./imgs/ic_email@2x.png') no-repeat scroll 15px 12px; 
  background-size: 25px 25px;
  padding-left: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.form-container input[type="password"] {
  background: url('./imgs/ic_password@2x.png') no-repeat scroll 15px 12px; 
  background-size: 25px 25px;
  padding-left: 40px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-container input[type="text"] {
  background: url('./imgs/ic_username@2x.png') no-repeat scroll 15px 12px; 
  background-size: 25px 25px;
  padding-left: 40px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-heading {
  opacity: .6;
}

.sign-up-heading {
  opacity: .6;
}

.form-button {
	box-sizing: border-box;
  width: 360px;
  height: 49px;
  background: #0E5C89;
  border: 0;
  color: #ffffff;
  font: 14px "Avenir Next";
  font-weight: bold;
}

